<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <client>
      
      <endpoint address="http://localhost:4000/A1" binding="basicHttpBinding"
                contract="*" name="firstInstance" />
      <!--
      <endpoint address="http://localhost:4000/A2" binding="basicHttpBinding"
                contract="*" name="secondInstance"  />
                  
      <endpoint address="http://localhost:4000/A3" binding="basicHttpBinding"
                contract="*" name="thirdInstance" />
        -->
    </client>
    <routing>
      <filters>
       <!-- <filter name="ComplexNumberFilter" filterType="MatchAll" />-->
        
        <filter name="roundRobinContractFilter1"
                filterType="Custom" 
                customType="Router.RoundRobinMessageFilter, Router" 
                filterData="roundRobinGroup_custom"/>
<!--
        <filter name="roundRobinContractFilter2" 
                filterType="Custom" 
                customType="Router.RoundRobinMessageFilter, Router" 
                filterData="roundRobinGroup_custom"/>
               
        <filter name="roundRobinContractFilter3"
                filterType="Custom" 
                customType="Router.RoundRobinMessageFilter, Router"
                filterData="roundRobinGroup_custom"/>
                -->
      </filters>
      <filterTables>

        <filterTable name="RoutingTable">
          <add filterName="roundRobinContractFilter1" endpointName="firstInstance"/> 
        <!--  <add filterName="roundRobinContractFilter2" endpointName="secondInstance"/> -->
                    <!--
          <add filterName="roundRobinContractFilter3" endpointName="thirdInstance"/>
          -->
        </filterTable>
        <!--
        <filterTable name="RoutingTable">
          <add filterName="ComplexNumberFilter" endpointName="Calculator" />
        </filterTable>
		
        -->
		
      </filterTables>
    </routing>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <routing filterTableName="RoutingTable" />
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
        <behavior name="MyServiceTypeBehaviors" >
            <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="System.ServiceModel.Routing.RoutingService" >
        <endpoint address="" binding="basicHttpBinding" contract="System.ServiceModel.Routing.IRequestReplyRouter"
                  name="VirtualEndpoint"  />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:4000/Router" />
          </baseAddresses>
        </host>
      </service>

      <service name="Router.RouterService">
        <endpoint address="" binding="basicHttpBinding" contract="Router.IRouterService"
                  name="VirtualEndpoint"  />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:4000/RouterStaff" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>