<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <client>
      
      <endpoint address="http://192.168.1.42:4000/RouterA1" binding="basicHttpBinding"
                contract="*" name="firstInstance" />
      <endpoint address="http://192.168.1.43:4000/RouterA2" binding="basicHttpBinding"
                contract="*" name="secondInstance"  />
        
    </client>
    <routing>
      <filters>
       <!-- <filter name="ComplexNumberFilter" filterType="MatchAll" />-->
        
        <filter name="roundRobinContractFilter1"
                filterType="Custom" 
                customType="Router.RoundRobinMessageFilter, Router" 
                filterData="roundRobinGroup_custom"/>
        <filter name="roundRobinContractFilter2" 
                filterType="Custom" 
                customType="Router.RoundRobinMessageFilter, Router" 
                filterData="roundRobinGroup_custom"/>
             
      </filters> 
      <filterTables>

        <filterTable name="RoutingTable">
            <add filterName="roundRobinContractFilter1" endpointName="firstInstance"/>
            <add filterName="roundRobinContractFilter2" endpointName="secondInstance"/>  
          
        </filterTable>
		
      </filterTables>
    </routing>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <routing filterTableName="RoutingTable" />
          <serviceDebug includeExceptionDetailInFaults="True"/>
          <serviceThrottling maxConcurrentCalls="10" maxConcurrentInstances="10" maxConcurrentSessions="10"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
      <bindings>
        <basicHttpBinding>
          <binding name="NetHttpBinding" closeTimeout="00:01:00"
                 openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" 
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                          maxBytesPerRead="4096" maxNameTableCharCount="16384" />
            <security mode="None">
              <transport clientCredentialType="None" proxyCredentialType="None"
                         realm=""/>
            </security>
          
          </binding>
      </basicHttpBinding>
      </bindings>
    <services>
      <service name="System.ServiceModel.Routing.RoutingService" behaviorConfiguration="serviceBehavior" >
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="NetHttpBinding" contract="System.ServiceModel.Routing.IRequestReplyRouter"
                  name="VirtualEndpoint"  >
          
              <identity>
                <dns/>
              </identity>
        
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:4000/Router" />
          </baseAddresses>
        </host>
      </service>
      
    <service name="Router.RouterService" behaviorConfiguration="serviceBehavior">
        <endpoint address="" name="norm" binding="basicHttpBinding"
                  bindingConfiguration="NetHttpBinding"
                  contract="Router.IRouterService"  >
              <identity>
                <dns/>
              </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:4000/RouterService" />
          </baseAddresses>
        </host>
    </service>
    </services>
  </system.serviceModel>
</configuration>