<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <client>
     <!-- 
      <endpoint address="http://192.168.1.111:4000/RouterA3" binding="basicHttpBinding"
                contract="*" name="firstInstance" />
      -->
      <endpoint address="net.tcp://192.168.1.43:4000/RouterA2" binding="netTcpBinding"
                contract="*" name="secondInstance"  />
      <endpoint address="net.tcp://192.168.1.185:4000/RouterA4" binding="netTcpBinding"
                contract="*" name="threeInstance"  />
        
    </client>
    <routing>
      <filters>
       <!-- <filter name="ComplexNumberFilter" filterType="MatchAll" />
       
       CustomMessageFilter
       RoundRobinMessageFilter
       -->

        <!-- 
        <filter name="roundRobinContractFilter1"
                filterType="Custom" 
                customType="Router.CustomMessageFilter, Router" 
                filterData="roundRobinGroup_custom"/>
                -->
        <filter name="roundRobinContractFilter2" 
                filterType="Custom" 
                customType="Router.RoundRobinMessageFilter, Router" 
                filterData="roundRobinGroup_custom"/>
        <filter name="roundRobinContractFilter3" 
                filterType="Custom" 
                customType="Router.RoundRobinMessageFilter, Router" 
                filterData="roundRobinGroup_custom"/>
             
      </filters> 
      <filterTables>

        <filterTable name="RoutingTable">
          <!-- 
            <add filterName="roundRobinContractFilter1" endpointName="firstInstance"/>
            -->
            <add filterName="roundRobinContractFilter2" endpointName="secondInstance"/>  
            <add filterName="roundRobinContractFilter3" endpointName="threeInstance"/>  
          
        </filterTable>
		
      </filterTables>
    </routing>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <routing filterTableName="RoutingTable" />
          <serviceDebug includeExceptionDetailInFaults="True"/>
          <serviceThrottling maxConcurrentCalls="100" maxConcurrentInstances="100" maxConcurrentSessions="100"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
      <bindings>
        <netTcpBinding>
          <binding name="NetHttpBinding" closeTimeout="00:01:00"
                 openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" 
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                   maxConnections="100">

            <security mode="None">
              <transport clientCredentialType="None" protectionLevel="None"/>
              <message clientCredentialType="None" />
            </security>

          </binding>
      </netTcpBinding>
      </bindings>
    <services>
      <service name="System.ServiceModel.Routing.RoutingService" behaviorConfiguration="serviceBehavior" >
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="NetHttpBinding" contract="System.ServiceModel.Routing.IRequestReplyRouter"
                  name="VirtualEndpoint"  >
          
              <identity>
                <dns/>
              </identity>
        
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://192.168.1.42:4000/Router" />
          </baseAddresses>
        </host>
      </service>
      
    <service name="Router.RouterService" behaviorConfiguration="serviceBehavior">
        <endpoint address="" name="norm" binding="netTcpBinding"
                  bindingConfiguration="NetHttpBinding"
                  contract="Router.IRouterService"  >
              <identity>
                <dns/>
              </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://192.168.1.42:4001/RouterService" />
          </baseAddresses>
        </host>
    </service>
    </services>
  </system.serviceModel>
</configuration>