<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <client>
      <!-- self point -->
      <endpoint address="http://localhost:4000/A1" binding="basicHttpBinding"
                contract="*" name="firstInstance" />
    </client>
    <routing>
      <filters>
        <filter name="roundRobinContractFilter1"
                filterType="Custom"
                customType="Router.RoundRobinMessageFilter, Router"
                filterData="roundRobinGroup_custom"/>
      </filters>
      <filterTables>

        <filterTable name="RoutingTable">
          <add filterName="roundRobinContractFilter1" endpointName="firstInstance"/>
        </filterTable>
      </filterTables>
    </routing>
        
      <services>
      <service name="testWCF.Service" behaviorConfiguration="MeBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:4000/A2"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="Library.IInterface2" />
      </service>

        <service name="System.ServiceModel.Routing.RoutingService">
          <endpoint address="" binding="basicHttpBinding" contract="System.ServiceModel.Routing.IRequestReplyRouter"
                    name="VirtualEndpoint"  />
          <host>
            <baseAddresses>
              <add baseAddress="http://localhost:4000/RouterA1" />
            </baseAddresses>
          </host>
        </service>


      </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MeBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
        <behavior name="">
          <routing filterTableName="RoutingTable" />
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>

       
      </serviceBehaviors>
    </behaviors>
   
  </system.serviceModel>
</configuration>