<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <appSettings>
      <add key="routerService" value="net.tcp://192.168.1.42:4001/RouterService"/>
    </appSettings>
  <system.serviceModel>
    <client>
      <!-- self point -->
      <endpoint address="net.tcp://192.168.1.42:4000/A1" binding="netTcpBinding"
                contract="*" name="firstInstance" />
      <endpoint address="net.tcp://192.168.1.43:4000/RouterA2" binding="netTcpBinding"
                contract="*" name="firstInstance2" />
    </client>
    <routing>
      <filters>
        <filter name="roundRobinContractFilter1"
                filterType="Custom"
                customType="testWCF.RoundRobinMessageFilter, testWCF"
                filterData="roundRobinGroup_custom"/>
        <filter name="roundRobinContractFilter2"
                filterType="Custom"
                customType="testWCF.RoundRobinMessageFilter, testWCF"
                filterData="roundRobinGroup_custom"/>
      </filters>
      <filterTables>

        <filterTable name="RoutingTable">
          <add filterName="roundRobinContractFilter1" endpointName="firstInstance"/>
          <add filterName="roundRobinContractFilter2" endpointName="firstInstance2"/>
        </filterTable>
      </filterTables>
    </routing>
        
      <services>
      <service name="testWCF.Service" behaviorConfiguration="serviceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://192.168.1.42:5001/A1"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="netTcpBinding" contract="Library.IInterface2" bindingConfiguration="NetHttpBinding" />
      </service>

        <service name="System.ServiceModel.Routing.RoutingService" 
                 behaviorConfiguration="serviceBehavior">
          <endpoint address="" binding="netTcpBinding" contract="System.ServiceModel.Routing.IRequestReplyRouter"
                    name="VirtualEndpoint" bindingConfiguration="NetHttpBinding"  />
          <host>
            <baseAddresses>
              <add baseAddress="net.tcp://192.168.1.42:5000/RouterA1" />
            </baseAddresses>
          </host>
        </service>


      </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <routing filterTableName="RoutingTable" />
          <serviceDebug includeExceptionDetailInFaults="True"/>
          <serviceThrottling maxConcurrentCalls="100" maxConcurrentInstances="100" maxConcurrentSessions="100"/>
        </behavior>

       
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="NetHttpBinding" closeTimeout="00:01:00"
               openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                 maxConnections="100">
          <security mode="None">
              <transport clientCredentialType="None"  protectionLevel="None"/>
              <message   clientCredentialType="None" />
          </security> 

        </binding>
      </netTcpBinding>
    </bindings>
   
  </system.serviceModel>
</configuration>