<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <appSettings>
      <add key="routerService" value="http://192.168.1.42:4000/RouterService"/>
    </appSettings>
  <system.serviceModel>
    <client>
      <!-- self point -->
      <endpoint address="http://192.168.1.42:4000/A1" binding="basicHttpBinding"
                contract="*" name="firstInstance" />
      <endpoint address="http://192.168.1.43:4000/RouterA2" binding="basicHttpBinding"
                contract="*" name="firstInstance2" />
    </client>
    <routing>
      <filters>
        <filter name="roundRobinContractFilter1"
                filterType="Custom"
                customType="testWCF.RoundRobinMessageFilter, testWCF"
                filterData="roundRobinGroup_custom"/>
        <filter name="roundRobinContractFilter2"
                filterType="Custom"
                customType="testWCF.RoundRobinMessageFilter, testWCF"
                filterData="roundRobinGroup_custom"/>
      </filters>
      <filterTables>

        <filterTable name="RoutingTable">
          <add filterName="roundRobinContractFilter1" endpointName="firstInstance"/>
          <add filterName="roundRobinContractFilter2" endpointName="firstInstance2"/>
        </filterTable>
      </filterTables>
    </routing>
        
      <services>
      <service name="testWCF.Service" behaviorConfiguration="serviceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.1.42:4000/A1"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="Library.IInterface2" />
      </service>

        <service name="System.ServiceModel.Routing.RoutingService"  behaviorConfiguration="serviceBehavior">
          <endpoint address="" binding="basicHttpBinding" contract="System.ServiceModel.Routing.IRequestReplyRouter"
                    name="VirtualEndpoint"  />
          <host>
            <baseAddresses>
              <add baseAddress="http://192.168.1.42:4000/RouterA1" />
            </baseAddresses>
          </host>
        </service>


      </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <routing filterTableName="RoutingTable" />
          <serviceDebug includeExceptionDetailInFaults="True"/>
          <serviceThrottling maxConcurrentCalls="10" maxConcurrentInstances="10" maxConcurrentSessions="10"/>
        </behavior>

       
      </serviceBehaviors>
    </behaviors>
   
  </system.serviceModel>
</configuration>